/*******************
General
********************/

* {
	font-family: Helvetica, sans-serif;
}

a {
	text-decoration: none !important;
}

/*******************
Buttons
********************/

.std-btn {
	padding: 10px;
	color: white;
	text-align: center;
	border-radius: 3px;
	font-weight: 100;
}

.green-btn {
	background: #2ecc71;
	outline: #2ecc71;
	border: #2ecc71;
	box-shadow: 0px 3px 0px #27ae60;
}

.green-btn:active {
	background: #27ae60;
	outline: #27ae60;
	border: #27ae60;
}


/********************
Canvas
********************/

#curling-arena {
	background: blue;
}


