body {
	background: #c0392b;
	color: white;
	margin: 0;
	padding: 0;
}

h1 {
	width: 100%;
	text-align: center;
}

.submit-button {
	width: 100%;
	text-align: center;
}

button {
	margin: 0 auto;
	background: blue;
	border: none;
	outline:none;
	color: white;
	font-weight: 700;
	font-size: 2em;
	border-radius: 5px;
	padding: 10px;
}